{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>{{typingtest.name}}</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css" />
		<link rel="stylesheet" href="{% static 'typingtest/css/style.css' %}" />
	</head>
	<body>
		<!-- Display the nav bar -->
		{% include 'typingtest/nav.html' %}

		<!-- Display the test information -->
		<main>
			<div class="container">
				<div class="section">
					<div class="row">
						<div class="col s8 offset-s2">
							<h3> {{ typingtest.name }} </h3>
							<h5> Typing Test Information </h5>
							<p> Features: {{ typingtest.features }} </p>
							<p> Score: <span id="upvote-label">{{ typingtest.upvotes }}</span> upvotes - <span id="downvote-label">{{ typingtest.downvotes }}</span> downvotes </p>
							<input type="button" name="submit-form" id=1 value="Upvote" />
							<input type="button" name="submit-form" id=2 value="Downvote" />
							<p id="typing-test-text">{{ typingtest.text }}</p>

							<input type="text" id="typing-test-input" />
							<p id="wpm-label">0 wpm</p>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- Display the footer -->
		{% include 'typingtest/foot.html' %}
		
		<!-- Loading javascript files -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
		<script type="text/javascript" src="{% static 'typingtest/js/cookie.js' %}"></script>
		<script type="text/javascript" src="{% static 'typingtest/js/typingtest.js' %}"></script>

		<!-- Build page specific javascript -->
		<script type="text/javascript">
			// Get our token for posting to the server
			var csrftoken = getCookie('csrftoken');

			// Check for up or down votes
			$('input[name=submit-form]').click(function(event){
				var post = $.post("{% url 'typingtest:vote' typingtest.id %}", {'vote': event.target.id, "csrfmiddlewaretoken": csrftoken}, function(data){
					if(data['error']) {
						
					} else {
						$('#upvote-label').html(data['newUpvotes']);
						$('#downvote-label').html(data['newDownvotes']);
					}
				});
			});

			// Grabbing necessary DOM elements
			var textLabel = $('#typing-test-text');
			var inputField = $('#typing-test-input');
			var speedLabel = $('#wpm-label');

			// Initializing our typing test
			var typingTest = new TypingTest(textLabel, inputField, speedLabel);
			typingTest.onTestCompletion(function(time, wpm) {
				// Handle the completion of the test
				console.log('Test Finished');
			});
		</script>
	</body>
</html>